
# Ignore dataset directory
data/processed/
data/raw/

# Ignore output directory
output/impressions
output/sessions
output/users
output/watch_events
output/regression 
output/sql_analysis.txt

/.quarto/
**/*.quarto_ipynb

*.html